@import "../../styles/colors";
@import "../../styles/breakpoints";


.color-scheme {
    padding: 2rem 5%;
    text-align: left;

    margin: 2rem auto;
    max-width: $maxWidth;
    background-color: $white;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.color-scheme__name {
    text-transform: capitalize;
    margin-top: 0;
}

.color-scheme__colors-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color-scheme__color-wrapper {
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    width: 24%;
    text-align: center;

    // border: 0.06rem solid $dark-gray;
    border-radius: 0.3rem;

    box-shadow: 0 4px 4px rgba(0,0,0,.2);

    transition: background-color 300ms, box-shadow 300ms;

    cursor: pointer;

    @include bp-tabletWidth {
        width: 18%;
    }

    @include bp-pcWidth {
        width: 9.5%;
    }

    &:hover {
        background-color: $light-gray;
    }
}

.color-scheme__color-wrapper_selected {

    background-color: $green;
    color: $white;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);


    &:hover {
        background-color: $green;
        opacity: 0.9;
    }
}


.color-scheme__color {
    margin: 0 auto 0.5rem auto;
    width: 3.5rem;
    height: 3rem;
}

.color-scheme__color-code {
    line-height: 1.5;
}

.color-scheme__color_selected {

}
