@import "../../styles/colors";
@import "../../styles/breakpoints";



.export-code {
    max-width: $maxWidth;
    margin: 5rem auto 2rem auto;

    text-align: left;

}

.export-code__header {
    margin-left: 2rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
}


.export-code__buttons {
    margin: 2rem 0 2rem 2rem;

}


.export-code__code-wrapper {
    padding: 2rem;
    background-color: $light-gray;
}

.export-code__code {
    font-size: 1.1rem;
    line-height: 1.5;
}

.export-code__line {

}


.export-code__var {
    color: $pink;
}
