@import "../../styles/colors";
@import "../../styles/breakpoints";


.selected {
    max-width: $maxWidth;
    padding: 2rem 5% 1rem 5%;
    margin: 0 auto;

    background-color: $white;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    @include bp-tabletWidth {
        padding-bottom: 2rem;
    }
}

.selected__header {
    margin-top: 0;
    font-size: 2rem;
    text-align: left;

    & > small {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.selected__sticky {
  background-color: $white;
  transition: padding 300ms;
}

.selected__sticky_fixed {
    position: fixed;
    top: 0;
    left: 25%;
    z-index: 1000;

    width: 50%;
    padding: 0 2.5%;

    box-shadow: 0 4px 5px rgba(0,0,0,.2);
}

.selected__colors {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1rem 0;


  @include bp-tabletWidth {
      flex-wrap: nowrap;
  }
}
