@import "../../styles/colors";


.button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;

    background: $light-gray;
    border: 0.15rem solid $light-gray;
    border-radius: 0.4rem;

    cursor: pointer;
    outline: none;

    transition: color 0.5s, background-color 0.5s;

    &:focus {
        border-color: $dark-gray;
    }

    &:hover {
        background-color: $dark-gray;
        border-color: $dark-gray;
    }

    &:active {
        opacity: 0.8;
    }

    &:disabled {
        cursor: not-allowed;
        background: $light-gray;
        border-color: $light-gray;
    }

}

.button_pink {
    color: $white;
    background-color: $pink;
    border-color: $pink;

    &:focus {
        border-color: $dark-pink;
    }

    &:hover {
        background-color: $dark-pink;
        border-color: $dark-pink;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $pink;
        border-color: $pink;
    }
}

.button_red {
    color: $white;
    background-color: $red;
    border-color: $red;

    &:focus {
        border-color: $dark-red;
    }

    &:hover {
        background-color: $dark-red;
        border-color: $dark-red;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $red;
        border-color: $red;
    }
}
