.github-link {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    z-index: 100;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.github-link__image {
    width: 32px;
    height: 32px;
}
