$tabletWidth: 48rem;
$pcWidth: 64rem;
$maxWidth: 75rem;


@mixin bp-tabletWidth {
    @media only screen and (min-width: $tabletWidth) {
        @content;
    }
}


@mixin bp-pcWidth {
    @media only screen and (min-width: $pcWidth) {
        @content;
    }
}
