@import "../../styles/colors";
@import "../../styles/breakpoints";


.selected-color {
    width: 18%;
    margin-bottom: 1rem;

    @include bp-tabletWidth {
        margin-bottom: 0;
        width: 9%;
    }
}

.selected-color__color {
    position: relative;

    border-radius: 50%;
    height: auto;
    width: 100%;
    padding-top: 100%;

    cursor: pointer;

    transition: background-color 300ms, transform 300ms;

    &:hover {
        transform: scale(1.1);
    }
}

.selected-color__color_empty {
    cursor: default;

    &:hover {
        transform: none;
    }
}


.selected-color__icon {
    position: absolute;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    left: calc(50% - 0.65rem);
    top: calc(50% - 0.65rem);

    font-size: 1.3rem;
    line-height: 1;

    opacity: 0;

    transition: opacity 800ms, color 300ms;
}

.selected-color__color:hover .selected-color__icon {
    opacity: 1;
}
