@import "../../styles/colors";
@import "../../styles/breakpoints";


.header {
    background-color: $white;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.header__content {
    max-width: $maxWidth;
    margin: 0 auto;

    @include bp-tabletWidth {
        padding: 0 3% 0 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    };

    @include bp-pcWidth {
        justify-content: space-between;
    }
}


.header__logo-link {
    display: block;
}

.header__logo {
    height: 5rem;
    padding: 1rem;
}

.header__navigation {
    text-align: center;

    @include bp-tabletWidth {
        display: flex;
        justify-content: space-around;
    };
}

.header__link {
    display: block;
    padding: 1em 0;

    font-size: 1.2rem;
    font-weight: 600;

    color: $pink;
    text-decoration: none;

    transition: color 0.5s, background-color 0.5s;

    &:hover {
        background-color: $light-gray;
    }

    @include bp-tabletWidth {
        padding: 0.5em 1em;
        margin-right: 3%;

        font-size: 1.1rem;
        border-radius: 0.4rem;
    }
}

.header__link_active {
    color: $white;
    background-color: $pink;

    cursor: default;
    &:hover {
        background-color: $pink;
        opacity: 1;
    }
}
