@import "../../styles/colors";
@import "../../styles/breakpoints";


.palette-color {
    margin-bottom: 1rem;
    height: 3.5rem;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 1.3rem;
    line-height: 1;

    border-radius: 0.4rem;

    cursor: pointer;
    @include bp-tabletWidth {
        margin-bottom: 0;
        width: 8.5%;
    }
}

.palette-color_selected {

}

.palette-color__icon {
    opacity: 0;
    transition: opacity 600ms, transform 300ms;
}

.palette-color__icon_remove {
    opacity: 1;
    transform: rotate(45deg);
}

.palette-color:hover .palette-color__icon_add {
    opacity: 1;
}

.palette-color:hover .palette-color__icon_remove {
    transform: rotate(45deg) scale(1.2);
}
