.mixed {
    position: relative;
    padding: 1.5rem 0;
    text-align: left;
}

.mixed__header {
    margin-top: 0;
    margin-left: 5%;
    margin-right: 1%;
    display: inline-block;

    font-size: 2rem;
}

.mixed__mixer {
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;

    cursor: pointer;
    border-radius: 0.3rem;
}

.mixed__color-picker {
    position: absolute;
    top: 4.2rem;
    left: 3rem;
    z-index: 1000;
    height: 0;
    overflow: hidden;

    transition: height 1s ease-out;
}

.mixed__color-picker_active {
    height: 100%
}
