@import "../../styles/colors";
@import "../../styles/breakpoints";


.palette {
    text-align: left;
}

.palette__colors-container {
    padding: 4rem 5% 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    background-color: $light-gray;

    transition: background-color 500ms;

    @include bp-tabletWidth {
        padding-bottom: 4rem;
        flex-wrap: nowrap;
    }
}

.palette__colors-container_dark {
    background-color: $black;
}

.palette__buttons {
    padding: 1.5rem 5% 0 5%;
    display: flex;
}
