@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/m-page";


.create {
    @include page;
}

.create__title {
    @include page__title;

    transition: color 300ms;
}

.create__color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5rem auto;
}


.create__panel {
    margin: 2rem auto;
    max-width: $maxWidth;
    background-color: $white;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
