@import "../../styles/colors";
@import "../../styles/breakpoints";


.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;

    background-color: $black;
}

.footer__logo {
    height: 5rem;
}
