@import "../../styles/colors";
@import "../../styles/breakpoints";


.color-preset {
    max-width: $maxWidth;
    margin: 2rem auto;
    padding: 2rem;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0,0,0,.2);

    &:hover {
        background-color: $light-gray;
    }
}

.color-preset_selected {
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}


.color-preset__name {
    margin-top: 0;
    text-transform: capitalize;
}


.color-preset__icon {
    margin-left: 0.5rem;
}

.color-preset__colors {
    display: flex;
}

.color-preset__color {
    height: 3.5rem;
    width: 20%;
}
