@import "../../styles/colors";
@import "../../styles/breakpoints";


.selected-table {
    width: 100%;
    max-width: $maxWidth;
    margin: 2rem auto;

    text-align: center;
    font-size: 1.1rem;

    border-collapse: collapse;
    background-color: $white;

}


.selected-table__header {
    background-color: $light-gray;
    font-size: 1.2rem;
}


.selected-table__cell {
    padding: 1rem 1rem 0.5rem 1rem;
    border: 0.0625rem solid $dark-gray;
}

.selected-table__cell_color {
    width: 25%;
}

.selected-table__cell_hex {
    width: 20%;
}

.selected-table__cell_rgb {
    width: 30%;
    display: none;

    @include bp-tabletWidth {
        display: table-cell;
    }
}

.selected-table__cell_var {
    width: 25%;
    text-align: left;
}


.selected-table__input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.12rem solid $light-gray;

    outline: none;

    &:focus {
        border-color: $red;
    }
}
